<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/icon-pinup.ico">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section>
        <section class="background" id="opacity"></section>
        <section>
            <h1 id="h1-about">About</h1>
            <div class="text-box" id="about-top">
                <p>
                <b>Imelda Mary Clabby</b>, más conocida como <b>Imelda May</b>, es una cantante irlandesa de rock and roll genuino y de rockabilly. <br>
                 Nació y se crió en Dublín (Irlanda) el 10 de julio de 1974. En 2003 se mudó a Londres. <br>
                 Es la más joven de cinco hermanos y madre de una preciosa niña llamada Violet, fruto de su matrimonio con Darrel Higham, guitarrista de su banda. <br>
                </p>
            </div>

            <div class="text-box" id="about-down">
                <p>
                Sus primeras influencias musicales fueron la música folk y el rock and roll. <br>
                A la edad de nueve años, era fan del rockabilly y el blues. <br>
                En 1991, asistió a la escuela superior Senior College Ballyfermot, donde estudió arte, gráficos y grabado. <br>
                Comenzó su carrera musical a la edad de dieciséis años, tocando con varias bandas locales antes de formar su propia banda en 2002. <br>
                Su mezcla de rockabilly, swing y jazz, su estética cincuentera y el sincero amor que destila por la época de los pioneros llamaron la atención de Jools Holland. <br>
                </p>
            </div>

            <div class="text-box" id="about-right">
                <p>
                    Aunque es conocida principalmente como cantante, también toca el bodhrán, el bajo, la guitarra y la pandereta.<br>
                    Descrita como «un talento vocal único»,​ Imelda May también es reconocida por su estilo musical, que se caracteriza como un renacimiento del <b>rockabilly</b>.
                    Imelda ganó el premio «Mejor Artista Femenina del Año de Irlanda» en 2009, concedido en la ceremonia de los Meteor Awards.​ 
                    La estética de Imelda May,​ está muy relacionada con aquella de la música de los años cincuenta anglosajones, y su característico peinado, 
                    con un llamativo flequillo rubio en espiral, es uno de sus rasgos más reconocibles.
                </p>
            </div>


        </section>

    </section>
   
</body>
</html>