<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon-pinup.ico">
    <title> Works</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section>
        <section class="background" id="opacity"></section>
        
        <section class="main">
            <h1 id="h1-about">Works</h1>
            <div class="text-box" id="works-top">
                <p>
                    Imelda May inicia su carrera profesional en el año 2003, el año en el que se publicó su primer album <b> “No Turning Back”</b>,
                    con la conocida compañía discográfica Foot Tapping Records y todavía con su apellido de soltera, el cual es Imelda Clabby.<br>
                <br>
                    Para el año 2007, Imelda May tiende a firmar un contrato con la compañía Ambassador Records con la que grabó el segundo album,
                     bajo el título de <b>“Love Tattoo”</b>, el mismo fue el que llegó al puesto n.º 1 en Irlanda y también logra recibir la aprobación de la gran parte de la crítica.<br>
                     <br>
                    Se logra publicar el tercer álbum, titulado <b>“Mayhem”</b>, en septiembre del año 2010. Igualmente como sucedió con “Love Tattoo”,
                    “Mayhem” logra alcanzar de nuevo el puesto n.º 1 en las listas de los mejores álbumes irlandeses.<br>
                    <br>
                    Su siguiente álbum, titulado <b>“Tribal”</b> el cual llega a ser publicado por la compañía discográfica Decca Recors,
                     tuvo que esperar hasta abril del 2014 para que saliera al público.<br>
                     <br>
                     <b>"Life Love Flesh Blood"</b> es el quinto álbum de Imelda may. Fue lanzado por primera vez en Irlanda el 7 de abril de 2017,
                     mediante etiqueta Decca Records, seguido de un lanzamiento mundial dos semanas después.

                </p>
            </div>
            <div class="album">
                <div class=>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_maJEVy7TS2HJjPwtbKmFsZdRuv-FWdP10">
                        <img src="/Images/NoTurningBack.jpg" alt="NoTurningBack">
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_k5rv8UNccN6Se2pGNLrGaqGM0W4plu_HQ">
                        <img src="/Images/LoveTattoo.jpg" alt="LoveTattoo">
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_mkM8ZxDxY6CE4oQqC4Lun7dRbzV_9yR3A">
                        <img src="/Images/Mayhem.jpg" alt="Mayhem">
                </div>
                <div>
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_kZ5yY_NwcovB77Z1jdRL75KcoW54Yo_es">
                        <img src="/Images/Tribal.jpg" alt="">
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_nzWq6Uoyb0BPRtUytbhc4QtBjTsXbBPs8">
                        <img src="/Images/Blood.jpg" alt="">
                    </a>
                </div>
            </div>

        </section>

    </section>
   
</body>
</html>