/* color: rgb(169, 2, 2); */



@font-face {
    font-family: MrDafoe-font;
    src: url("/MrDafoe-Regular.ttf");
}


@font-face {
    font-family: Dosis-Regular;
    src: url("/Dosis-Regular.ttf");
}

html, body{
    height:100%;
    width: 100%;
    margin: 0px;
    /* ocupar todo el ancho y alto de la pantalla */
}

.background{
    background-image: url("/imelda-may.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 0 ;
    padding-right: 0 ;
    width: 100% ;
    height: 100%;
    position: relative;
}

.main{
    padding-left: 0 ;
    padding-right: 0 ;
    width: 100% ;
    height: 100%;
}

#h1-home{
    font-family: MrDafoe-font;
    color: rgb(169, 2, 2);
    border-style: dashed;
    font-size: 120px;
    margin-left: 100px;
    margin-top:40px;
    text-shadow: -2px -2px 1px #000;
}

.buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 30px;
    margin-top: 25px;
}

.buttons button{
    height: 150px;
    width: 150px;
    margin: 50px;
    border-radius: 10px ;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    font-size: 35px;
    font-family: MrDafoe-font;
    color: black !important;
    box-shadow: 0 4px 16px rgb(169, 2, 2);
    transition: all 0.2s ease;
}

/* -----------------ABOUT------------------------------- */


#opacity{
    position: absolute;
    opacity: 0.3;
}

#h1-about{
    position: absolute;
    font-family: MrDafoe-font;
    color: rgb(169, 2, 2);
    font-size: 100px;
    margin-left: 1350px;
    text-shadow: -2px -2px 1px #000;
    margin-top:40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.text-box{
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 10px 15px 3px rgb(169, 2, 2);
}

#about-top{
    width: 550px;
    margin-top: 60px;
    margin-left: 70px;
}


#about-down{
    width: 720px;    
    margin-top: 450px;
    margin-left: 70px;
}

#about-right{
    
    width: 430px;
    margin-top: 260px;
    margin-left: 1230px;
}

.text-box p{
    padding: 15px;
    padding-left: 30px;
    justify-content: center;
    font-size: 22px;
    font-family: Dosis-Regular;
}

/* ----------------------------WORKS-------------------------------------------------------- */

#works-top{
    width: 700px;
    margin-top: 60px;
    margin-left: 70px;
}

.album{
    position: absolute;
    max-width: 800px;
    margin-top: 250px;
    margin-left: 900px;
}
.album div{
    display: flex;
    justify-content: center;
}
.album img{
    
    width: 200px;
    border: 3px solid black;
    box-shadow: 0 10px 15px 3px black;
    margin:  20px;
}

#audio{
    position: absolute;
    margin-top: 700px;
    margin-left: 100px;
    width: 260px;
}

/* ------------------------ PHOTO GALLERY ----------------------------------- */

#h1-photo{
   
    font-family: MrDafoe-font;
    color: rgb(169, 2, 2);
    font-size: 100px;
    margin-left: 550px;
    text-shadow: -2px -2px 1px #000;
    margin-top:40px;
    position: absolute;
}

.photos{
    margin: 70px;
    margin-top: 100px;
    display: flex;
    position: absolute;
}

.photos img{
   /* position: absolute; */
    max-width: 265px;
    border: 3px solid black;
    box-shadow: 0 10px 15px 3px black;
    margin:  20px;
}







